// Colores
$color-primary: red;
$color-secondary: brown;

// Tamaños
$size-small: 10px;
$size-medium: 20px;
$size-large: 30px;


$border-style: dashed;
                              
@import 'variables';

.carousel-item {
    max-height: 500px;
}

.flex-container {
    font-size: $size-medium;
    display: flex;
    background-color: $color-primary;
    color: $color-secondary;
    justify-content: center;
    padding: $size-medium;
    margin: $size-large $size-large $size-large $size-medium;
    border-style: $border-style;

    &.resaltar {
        color: brown;
    }

    &.enlace {
        font-size: $size-medium;
        text-align: none;
    }
}

.container {
    width: $size-medium;
    height: $size-medium;
    margin-bottom: $size-small;
}
 
@import 'variables';

.navbar {
    background-color: $color-primary;

    &.navbar-expand-lg {
        background-color: brown;
    }
}
@import 'variables';
@import 'base';
@import 'navbar';



